<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<hr />

<h4>Comments</h4>
<%= render partial: "comments/form", locals: { comment: Comment.new, post: @post } %>
<%= turbo_stream_from @post, :comments %>
<%= tag.div id: "#{dom_id(@post)}_comments" do %>
  <%= render @post.comments%>
<% end %>

<hr />
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
